DATABASE_URL=file:./dev.db
# MAKE SURE TO RUN `npx prisma migrate dev` in /backend

PORT=4000
JWT_SECRET=very-secret-dev-key-change-me
JWT_EXPIRES_IN=7d
STEAM_API_CC=CA
PRICE_REFRESH_HOUR=13
PRICE_REFRESH_MINUTE=30
PRICE_REFRESH_TIMEZONE=America/New_York
