# Application environment
# Set to "development" for local dev, "production" for Docker/deployed
APP_ENV=production

# Server
PORT=4000 # don't touch this port for deployment edit the port bind in docker-comopse.yml

# configure this so the RSS link will be correct. not needed but it will show localhost when you try to copy the url.
# APP_URL=https://steam.your-domain.net

# Database
# SQLite file path (relative to project root)
# NOTE: for production just leave this as the dev.db, the docker compose's env will override
# and use steam.db within the container/volume
DATABASE_URL=file:./dev.db

# JWT
JWT_SECRET=change-me-to-a-strong-random-secret
JWT_EXPIRES_IN=7d

# Steam Store API
STEAM_API_CC=CA

# Scheduled price refresh (daily)
PRICE_REFRESH_HOUR=13
PRICE_REFRESH_MINUTE=30
PRICE_REFRESH_TIMEZONE=America/New_York

# How long until a game is allowed to be refreshed with new data from steam.
STEAM_GAME_STALE_HOURS=3
